* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* header & navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.btn-primary {
    background-color: #FD6E0A;
    height: 64px;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;

}

/*banner styles*/
.banner {
    margin: 0px 200px;
    display: flex;
    align-items: center;

}

.bnner-sub-title {
    color: #474747;
    width: 177px;
    height: 61px;


}

.banner-title {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;

}

.banner-bio {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin: 30px;
}

/*main section*/
.m-sectoin {
    max-width: 1140px;
    margin: 0 auto;

}

/* About section styles */
.about {
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;

}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.about .info-title {
    color: #757575;
    font-size: 20px;
}

.about-info {}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do */
.what-i-do {
    margin-top: 130px;

}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

.skill-title {
    color: #181818;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.skill-description {
    color: #757575;
    font-weight: 700;
    font-size: 20px;
    font-size: 16px;
    

}
.section-title{
    margin-top: 130px;
    text-align: center;
}